:root {
  --text-color: #010a60;
  --btn-primary-color: #ffa52e;
  --placeholder-color: #707070;
  --error-color: #ed6982;
}

body {
  font-family: 'Mulish', sans-serif;
  color: var(--text-color);
  margin: 0;
  background: url(assets/svg/desk-rect1.svg) 8% 40% / 7rem 7rem no-repeat,
    url(assets/svg/desk-rect2.svg) 60% 15% / 4rem 4rem no-repeat,
    url(assets/svg/desk-rect3.svg) 55% 61% / 2.5rem 2.5rem no-repeat,
    url(assets/svg/desk-x1.svg) 62% 90% / 2rem 2rem no-repeat,
    url(assets/svg/desk-x2.svg) 94% 22% / 4rem 4rem no-repeat,
    url(assets/svg/desk-circle.svg) 88% 47% / 4.5rem 4.5rem no-repeat;
}
.app {
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 100vh;
}
.content {
  width: min(52ch, 100vw - 4rem);
  align-self: center;
  justify-self: flex-end;
  background: white;
  padding: 0.5rem;
}
.content h1 {
  font-size: 32px;
  font-weight: 800;
}

.content h3 {
  font-size: 20px;
  font-weight: 400;
}
.content ul {
  padding: 0;
  list-style-position: inside;
}

.form {
  width: 17vw;
  height: 55vh;
  text-align: center;
  align-self: center;
  justify-self: center;
  padding: 4rem 3rem;
  font-size: 1rem;
  box-shadow: 0px 3px 16px #00000029;
  background: white;
}
input::placeholder {
  color: var(--placeholder-color);
}

.form h3 {
  font-size: 20px;
  margin: 8px 0;
}

.form input:not(.cb) {
  display: block;
  border: 0;
  border-bottom: 1px solid var(--text-color);
  width: 100%;
  margin: 2rem 0 0 0;
  padding: 0 0 4px 0;
  font-size: 14px;
}
.form input:not(.cb):focus-visible {
  outline: none;
  border-bottom: 2px solid var(--text-color);
}
.form button {
  color: white;
  background-color: var(--btn-primary-color);
  border-radius: 50px;
  border: 0;
  padding: 0.9rem 1.6rem;
  display: flex;
  margin: 25px auto 25px;
  font-size: 15px;
  font-family: inherit;
  cursor: pointer;
}
.form label {
  padding-left: 5px;
}

.privacy {
  text-align: left;
  font-size: 12px;
  display: flex;
}
.error {
  color: var(--error-color);
  text-align: left;
  font-size: 12px;
}

@media (max-width: 1100px) {
  body {
    margin: 3rem 0;
    line-height: 1.5;
    background: url(assets/svg/mobile-rect1.svg) 3% 74% / 3rem 3rem no-repeat,
      url(assets/svg/mobile-rect2.svg) 99% 62% / 6rem 6rem no-repeat;
  }
  .app {
    grid-template-columns: 1fr;
    height: auto;
  }
  .content {
    justify-self: center;
  }
  .form {
    width: 68vw;
    height: auto;
    min-height: 55vh;
    margin-top: 3rem;
    padding: 3rem 1.5rem;
  }
}
